/* Do not alter this SPC information: $Revision: 1.3.26.1 $ */
/*
**	NAME:							dldmain.c
**	AUTHORS:						Terrence McIntyre,Rick Kramer
**	CREATION DATE:					8/93
**	ABSTRACT:
**	
**	REVISION HISTORY:
*/
#define DLD_GLOBAL_DEFINE
 
/*
**	INCLUDES
*/
#include <stdio.h>
#include <windows.h>
#ifdef MM
#include "unlod.h"
#endif
exec sql include "unlod.h";


/*
**	DEFINES
*/

/*
**	TYPES
*/

/*
**	FUNCTION PROTOTYPES
*/
#define lod32s_c

#include "ulddsprt.prt"
#include "uldmisc.prt"
#include "uldbatch.prt"

/*
**	VARIABLES
*/
/*
**	FUNCTIONS
*/
	HANDLE handle;

/******************************************************************************/

extern int RIS_unloader(
	risulddes	*risulddes_ptr)
{
	return RISX_unloader(risulddes_ptr);
}

/******************************************************************************/

extern void RISuld_heart_of_unload(
	int			argc,
	char		*argv[],
	int			mode,
	risulddes	*risulddes_ptr)
{
	RISXuld_heart_of_unload(argc, argv, mode, risulddes_ptr);
}

/******************************************************************************/

extern void RISuld_fprint_risulddes(
	FILE *fp,
	risulddes	*risulddes_ptr)
{
	RISXuld_fprint_risulddes(fp, risulddes_ptr);
}

/******************************************************************************/

extern int *RISuld_get_RISuld_debug_addr()
{
	return (int *)RISXuld_get_RISuld_debug_addr();
}

/******************************************************************************/
