/* Do not alter this SPC information: $Revision: 1.3.28.1 $ */
/********************************************************************
Name:		batch.rc
Authors:       Rick Kramer
Creation Date: 03/28/95
Description:   Resource file for Batch utility

Revision History:

********************************************************************/
#include <windows.h>
#include "resource.h"

/********************************************************
Icons
********************************************************/
IDI_BATCH ICON risbatch.ico

/********************************************************
Menus
********************************************************/
RISbatch MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open Commands",          IDM_BATCH_FILE_OPEN
        MENUITEM "&Save Commands",          IDM_BATCH_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "Save &Results",          IDM_BATCH_FILE_SAVERESULTS
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tAlt+F4",                       IDM_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Cut\tCtrl+X", 		         IDM_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C", 		         IDM_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V",		          IDM_EDIT_PASTE
    END
    POPUP "&Commands"
    BEGIN
        MENUITEM "&Show Client Location",	IDM_BATCH_SHOWCLILOC
        MENUITEM "&Start Client",        	IDM_BATCH_STARTCLI
        MENUITEM "&Stop Client",         	IDM_BATCH_STOPCLI
        MENUITEM SEPARATOR
        MENUITEM "&Show Default Schema", 	IDM_BATCH_SHOWDEFSCH
        MENUITEM "&Show Schema File Location",	IDM_BATCH_SHOWSCHLOC
        MENUITEM "&Show Schema Names",        	IDM_BATCH_SHOWSCHNAMES
        MENUITEM "&Show Schema Transactions", 	IDM_BATCH_SHOWSCHTRANS
        MENUITEM "&Checksum Schema File", 	IDM_BATCH_CHECKSUM
        MENUITEM SEPARATOR
        MENUITEM "Show Superschema Definition",	IDM_BATCH_SHOWSUPERDEF
        MENUITEM "Show Superschema Names",     	IDM_BATCH_SHOWSUPERNAMES
        MENUITEM SEPARATOR
        MENUITEM "&Show Flags",          	IDM_BATCH_SHOWFLAGS
        MENUITEM "&Show Parameters",     	IDM_BATCH_SHOWPARMS
        MENUITEM SEPARATOR
        MENUITEM "&Ignore Errors",       	IDM_BATCH_IGNOREERRORS
        MENUITEM "&Process Errors",      	IDM_BATCH_PROCESSERRORS
        MENUITEM SEPARATOR
        MENUITEM "&Quit",          		IDM_BATCH_QUIT
    END

END


/********************************************************
Dialogs
********************************************************/
IDD_BATCH DIALOG 10, 10, 295, 266
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "RISbatch"
CAPTION "RIS Batch Utility"
MENU RISbatch
FONT 8, "Helv"
{
 EDITTEXT IDC_BATCH_COMMANDS, 10, 20, 168, 58, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
 PUSHBUTTON "&Clear", IDC_BATCH_CCLEAR, 183, 23, 50, 14
 GROUPBOX "Command File", -1, 7, 6, 231, 75, BS_GROUPBOX
 PUSHBUTTON "C&lear", IDC_BATCH_RCLEAR, 185, 116, 50, 14
 GROUPBOX "Results", -1, 8, 98, 279, 145, BS_GROUPBOX
 AUTORADIOBUTTON "Screen", IDC_BATCH_TOSCREEN, 188, 169, 60, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "File", IDC_BATCH_TOFILE, 188, 188, 28, 12
 EDITTEXT IDC_BATCH_FILENAME, 188, 209, 84, 14, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 GROUPBOX "Output", -1, 182, 156, 98, 76, BS_GROUPBOX
 PUSHBUTTON "&Start", IDC_BATCH_START, 183, 43, 50, 28
 LISTBOX IDC_BATCH_RESULTS, 13, 112, 164, 125, LBS_NOTIFY | WS_BORDER | LBS_DISABLENOSCROLL | WS_BORDER | WS_VSCROLL | WS_HSCROLL
}


