#define IDC_LOD_CHECK1	7100
#define IDC_LOD_CHECK2	7101
#define IDC_LOD_CHECK3	7102
#define IDC_LOD_CHECK4	7103
#define IDC_LOD_CHECK5	7104


/* Do not alter this SPC information: $Revision: 1.5.28.1 $ */
/********************************************************************
Name:		lod.rc
Authors:       Rick Kramer
Creation Date: 03/28/95
Description:   Resource file for Loader utility

Revision History:

********************************************************************/
#include <windows.h>
#include "resource.h"
/********************************************************
Icons
********************************************************/
IDI_LOD ICON rislod.ico

/********************************************************
Menus
********************************************************/
RISlod MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit\tAlt+F4",                       IDM_FILE_EXIT
    END
END

// Dialog Boxes

RISlod_tmp DIALOG 18, 31, 338, 231
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "RIS Loader Utility"
CLASS "RISlod"
MENU RISlod
FONT 8, "Helv"
{
 LTEXT "&Screen:", -1, 8, 8, 32, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDC_LOD_PROPERTY, 8, 20, 64, 142, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "&Start", IDOK, 8, 171, 64, 14
 CONTROL "", IDC_LOD_FRAME_DIALOGBOX, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 76, 4, 260, 200
}




RISlod_Main DIALOG 0, 0, 251, 187
STYLE WS_POPUP | WS_CAPTION
CAPTION "RISlod - General"
FONT 8, "Helv"
{
 AUTOCHECKBOX "ANSI MODE", IDC_LOD_ANSI, 8, 13, 66, 10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 AUTOCHECKBOX "Preserve Blanks", IDC_LOD_PRESERVE, 8, 30, 65, 10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 LTEXT "Delimiter", -1, 8, 52, 51, 8
 EDITTEXT IDC_LOD_DELIM, 66, 49, 55, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Commit Interval", -1, 8, 68, 53, 8
 EDITTEXT IDC_LOD_COMMIT, 66, 66, 55, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 AUTORADIOBUTTON "Overwrite", IDC_LOD_FILEMODE_O, 140, 31, 45, 10, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Append", IDC_LOD_FILEMODE_A, 140, 46, 35, 10
 AUTORADIOBUTTON "Error if exists", IDC_LOD_FILEMODE_E, 140, 61, 55, 10
 GROUPBOX "File mode on all output files", -1, 130, 16, 110, 60
 LISTBOX IDC_LOD_DB, 15, 100, 109, 76, LBS_NOTIFY | WS_BORDER | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Enabled Databases", -1, 10, 87, 120, 96
}

RISlod_Files DIALOG 0, 0, 251, 198
STYLE WS_POPUP | WS_CAPTION
CAPTION "RISlod - General"
FONT 8, "Helv"
{
 EDITTEXT IDC_LOD_INPUTFILE, 9, 24, 70, 13, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Browse...", IDC_LOD_BROWSE_INPUT, 84, 24, 50, 14
 GROUPBOX "Input Filename", -1, 4, 4, 150, 55
 EDITTEXT IDC_LOD_LOGFILE, 9, 84, 70, 13, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Browse...", IDC_LOD_BROWSE_LOG, 84, 84, 50, 14
 GROUPBOX "Log File", -1, 4, 64, 150, 55
 EDITTEXT IDC_LOD_BADFILE, 9, 148, 70, 13, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Browse...", IDC_LOD_BROWSE_BAD, 84, 148, 50, 14
 GROUPBOX "Bad File", -1, 4, 129, 150, 55
}

RISlod_Schemas DIALOG 0, 0, 251, 198
STYLE WS_POPUP | WS_CAPTION
CAPTION "RISlod - Schemas"
FONT 8, "Helv"
{
 AUTOCHECKBOX "", IDC_LOD_CHECK1, 12, 20, 10, 10
 AUTOCHECKBOX "", IDC_LOD_CHECK2, 12, 30, 10, 10
 AUTOCHECKBOX "", IDC_LOD_CHECK3, 12, 40, 10, 10
 AUTOCHECKBOX "", IDC_LOD_CHECK4, 12, 50, 10, 10
 AUTOCHECKBOX "", IDC_LOD_CHECK5, 12, 60, 10, 10
 LISTBOX IDC_LOD_SCHEMAS, 25, 20, 68, 55, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
 GROUPBOX "Schemas", -1, 5,5,100,80
 LTEXT "Existing Schema", -1, 186,10,59,10
 EDITTEXT IDC_LOD_EXISTSCHEMA, 110,10,75,13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "User Name", -1, 185,25,54,10
 EDITTEXT IDC_LOD_USER, 110,25,75,13, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 LTEXT "Password", -1, 186,40,35,10
 EDITTEXT IDC_LOD_PASSWORD, 110,40,75,13, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 LTEXT "OS User", -1, 186,55,45,8
 EDITTEXT IDC_LOD_OSUSER, 110,55,75,13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "OS Password", -1, 186,70,45,8
 EDITTEXT IDC_LOD_OSPASSWORD, 110,70,75,13, ES_AUTOHSCROLL | ES_PASSWORD |WS_BORDER | WS_TABSTOP
 LISTBOX IDC_LOD_VIEWS, 10,115,95,70, LBS_STANDARD | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
 GROUPBOX "Views", -1, 5,95,105,100
 LISTBOX IDC_LOD_PRIVS, 125,115,95,70, LBS_STANDARD | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
 GROUPBOX "Privileges", -1, 115,95,115,100
}


RISlod_Tables DIALOG 0, 0, 251, 198
STYLE WS_POPUP | WS_CAPTION
CAPTION "RISlod - Tables"
FONT 8, "Helv"
{
 COMBOBOX IDC_LOD_TABSCHEMAS, 10, 20, 65, 90, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Schemas", -1, 5, 5, 75, 111
 LISTBOX IDC_LOD_TABLES, 95, 20, 66, 89, LBS_STANDARD | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
 GROUPBOX "Tables", -1, 90, 5, 78, 114
 LISTBOX IDC_LOD_INDEXES, 181, 20, 58, 86, LBS_STANDARD | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
 GROUPBOX "Indexes", -1, 175, 5, 71, 113
 AUTORADIOBUTTON "Both definitions and data", IDC_LOD_TABDEF_BOTH, 14, 139, 95, 10, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Definitions only", IDC_LOD_TABDEF_DEF, 14, 154, 90, 10
 GROUPBOX "Table Definitions", -1, 4, 129, 109, 45
 CHECKBOX "Continue loading if table exists", IDC_LOD_TABEXIST, 122, 136, 117, 8, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Clear existing data first", IDC_LOD_CLEAR, 122, 153, 109, 10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


