/* Do not alter this SPC information: $Revision: 1.4.28.1 $ */
/********************************************************************
Name:		dcode.rc
Authors:       Rick Kramer
Creation Date: 03/28/95
Description:   Resource file for Dcode utility

Revision History:

********************************************************************/
#include <windows.h>
#include "resource.h"

/********************************************************
Icons
********************************************************/
IDI_DCODE ICON risdcode.ico

/********************************************************
Menus
********************************************************/
RISdcode MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit\tAlt+F4",                       IDM_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Cut\tCtrl+X", 		         IDM_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C", 		         IDM_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V",		          IDM_EDIT_PASTE
    END
END

/********************************************************
Accelerators
********************************************************/
RISdcode	ACCELERATORS
BEGIN
	"X",	IDM_EDIT_CUT,		VIRTKEY,NOINVERT,CONTROL
	"C",	IDM_EDIT_COPY,		VIRTKEY,NOINVERT,CONTROL
	"V",	IDM_EDIT_PASTE,		VIRTKEY,NOINVERT,CONTROL
END

/********************************************************
Dialogs
********************************************************/
IDD_DCODE DIALOG 6, 15, 264, 243
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "RISdcode"
CAPTION "RIS DCODE Utility"
MENU RISdcode
FONT 8, "Helv"
{
 LTEXT "Value to be Decoded:", -1, 10, 28, 74, 8, NOT WS_GROUP
 EDITTEXT IDC_DCODE_VALUE, 84, 26, 80, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 CTEXT "Description", -1, 12, 68, 243, 10, SS_CENTER | NOT WS_GROUP
 EDITTEXT IDC_DCODE_DESC, 9, 80, 248, 124, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | NOT WS_TABSTOP | WS_BORDER
 DEFPUSHBUTTON "&Find", IDOK, 107, 212, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
}
