/* Do not alter this SPC information: $Revision: 1.4.28.1 $ */
/********************************************************************
Name:		recrd.rc
Authors:       Rick Kramer
Creation Date: 03/28/95
Description:   Resource file for Record utility

Revision History:

********************************************************************/
#include <windows.h>
#include "resource.h"

/********************************************************
Icons
********************************************************/
IDI_RECRD ICON risrecrd.ico

/********************************************************
Menus
********************************************************/
RISrecrd MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit\tAlt+F4",                       IDM_FILE_EXIT
    END
END

/********************************************************
Dialogs
********************************************************/
IDD_RECRD DIALOG 7, 29, 208, 156
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "RISrecrd"
CAPTION "RIS Record Utility"
MENU RISrecrd
FONT 8, "Helv"
{
 AUTOCHECKBOX "Record command times", 200, 94, 23, 99, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 AUTOCHECKBOX "Record delay times", 201, 94, 38, 95, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 AUTOCHECKBOX "Record total elapsed times", 202, 94, 53, 101, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 AUTOCHECKBOX "Overwrite output file", 203, 94, 68, 99, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 EDITTEXT 205, 12, 105, 183, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 GROUPBOX "Options", -1, 86, 8, 112, 74, BS_GROUPBOX
 AUTORADIOBUTTON "OFF", 208, 13, 20, 28, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "ON", 209, 13, 64, 25, 12
 GROUPBOX "Recording is", -1, 7, 6, 70, 76, BS_GROUPBOX
 DEFPUSHBUTTON "&Process", IDOK, 79, 127, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 LTEXT "Output Filename:", -1, 11, 92, 149, 8, NOT WS_GROUP
}
