/* Do not alter this SPC information: $Revision: 1.7.27.1 $ */
/********************************************************************
Name:		dtype.rc
Authors:	Alan Barksdale
Creation Date:	03/28/95
Description:	Resource file for Data Types utility

Revision History:

********************************************************************/
#include <windows.h>
#include "resource.h"

/********************************************************
Icons
********************************************************/
IDI_DTYPE ICON risdtype.ico

/********************************************************
Menus
********************************************************/
RISdtype MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit\tAlt+F4",                       IDM_FILE_EXIT
    END
END

/********************************************************
Dialogs
********************************************************/
IDD_DTYPE DIALOG DISCARDABLE  0, 0, 320, 260
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "RISdtype"
CAPTION "RIS Data Type"
MENU RISdtype
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Database Type",-1,5,5,50,10
    EDITTEXT        IDC_DTYPE_DB_TYPE_EDIT,60,5,90,12,ES_AUTOHSCROLL | 
                    ES_READONLY | NOT WS_TABSTOP
    LTEXT           "Schema Name",-1,5,30,50,8
    LISTBOX         IDC_DTYPE_SCH_NAME_LIST,5,40,145,70,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Table Name",-1,165,30,40,8
    LISTBOX         IDC_DTYPE_TBL_NAME_LIST,165,40,145,70,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Position",-1,5,130,30,10
    LTEXT           "Column Name",-1,35,130,50,10,NOT WS_GROUP
    LTEXT           "Type",-1,95,130,20,8,NOT WS_GROUP
    LTEXT           "Type String",-1,130,130,45,8,NOT WS_GROUP
    LTEXT           "Length",-1,190,130,25,10,NOT WS_GROUP
    LTEXT           "Precision",-1,220,130,30,10,NOT WS_GROUP
    LTEXT           "Scale",-1,255,130,20,10,NOT WS_GROUP
    LTEXT           "Nulls Allowed",-1,280,120,25,15,NOT WS_GROUP
    EDITTEXT        IDC_DTYPE_EDIT4,5,140,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT5,35,140,55,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT8,190,140,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT9,220,140,30,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT10,255,140,20,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    CONTROL         "",IDC_DTYPE_CHECK1,"Button",BS_AUTOCHECKBOX,285,140,8,10
    COMBOBOX        IDC_DTYPE_COMBO5,95,140,30,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    COMBOBOX        IDC_DTYPE_COMBO6,130,140,55,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    EDITTEXT        IDC_DTYPE_EDIT32,5,155,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT34,35,155,55,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT35,190,155,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT36,220,155,30,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT37,255,155,20,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    CONTROL         "",IDC_DTYPE_CHECK9,"Button",BS_AUTOCHECKBOX,285,155,8,10
    COMBOBOX        IDC_DTYPE_COMBO15,95,156,30,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    COMBOBOX        IDC_DTYPE_COMBO16,130,156,55,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    EDITTEXT        IDC_DTYPE_EDIT38,5,170,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT39,35,170,55,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT40,190,170,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT41,220,170,30,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT42,255,170,20,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    CONTROL         "",IDC_DTYPE_CHECK10,"Button",BS_AUTOCHECKBOX,285,170,8,10
    COMBOBOX        IDC_DTYPE_COMBO17,95,172,30,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    COMBOBOX        IDC_DTYPE_COMBO18,130,172,55,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    EDITTEXT        IDC_DTYPE_EDIT43,5,185,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT44,35,185,55,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT45,190,185,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT46,220,185,30,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT47,255,185,20,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    CONTROL         "",IDC_DTYPE_CHECK11,"Button",BS_AUTOCHECKBOX,285,185,8,10
    COMBOBOX        IDC_DTYPE_COMBO19,95,185,30,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    COMBOBOX        IDC_DTYPE_COMBO20,130,185,55,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    EDITTEXT        IDC_DTYPE_EDIT48,5,200,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT49,35,200,55,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT50,190,200,25,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT51,220,200,30,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    EDITTEXT        IDC_DTYPE_EDIT52,255,200,20,12,ES_AUTOHSCROLL | NOT WS_TABSTOP
    CONTROL         "",IDC_DTYPE_CHECK12,"Button",BS_AUTOCHECKBOX,285,200,8,10
    COMBOBOX        IDC_DTYPE_COMBO21,95,201,30,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    COMBOBOX        IDC_DTYPE_COMBO22,130,201,55,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL
    SCROLLBAR       IDC_DTYPE_SCROLLBAR1,300,140,10,70,SBS_VERT | WS_GROUP | 
                    WS_TABSTOP
    PUSHBUTTON      "&Apply",IDC_DTYPE_APPLY_BUTTON,104,225,50,14,WS_GROUP
    DEFPUSHBUTTON   "&Reset",IDC_DTYPE_RESET_BUTTON,164,225,50,14,NOT 
                    WS_TABSTOP
END

IDD_NAMES_AND_PASSWDS DIALOG DISCARDABLE  0, 0, 220, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "RIS Names and Passwords"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Schema Name",-1,5,5,50,8
    EDITTEXT        IDC_NAMES_AND_PASSWDS_SCH_NAME_EDIT,5,15,100,12
    LTEXT           "Password",-1,110,5,35,10,WS_DISABLED | NOT WS_GROUP
    CONTROL         "Echo",IDC_NAMES_AND_PASSWDS_SCH_NAME_PASSWD_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,180,
                    5,30,10
    EDITTEXT        IDC_NAMES_AND_PASSWDS_SCH_NAME_PASSWD_EDIT,110,15,100,12,
                    ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Operating System Username",-1,5,35,95,8,WS_DISABLED
    EDITTEXT        IDC_NAMES_AND_PASSWDS_OS_USRNAME_EDIT,5,45,100,12,
                    WS_DISABLED
    LTEXT           "Password",-1,110,35,35,8,WS_DISABLED | NOT WS_GROUP
    CONTROL         "Echo",IDC_NAMES_AND_PASSWDS_OS_USRNAME_PASSWD_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,180,
                    35,30,10
    EDITTEXT        IDC_NAMES_AND_PASSWDS_OS_USRNAME_PASSWD_EDIT,110,45,100,
                    12,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Database Username",-1,5,65,70,8,WS_DISABLED
    EDITTEXT        IDC_NAMES_AND_PASSWDS_DB_USRNAME_EDIT,5,75,100,12,
                    WS_DISABLED
    LTEXT           "Password",-1,110,65,35,8,WS_DISABLED | NOT WS_GROUP
    CONTROL         "Echo",IDC_NAMES_AND_PASSWDS_DB_USRNAME_PASSWD_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,180,
                    65,30,10
    EDITTEXT        IDC_NAMES_AND_PASSWDS_DB_USRNAME_PASSWD_EDIT,110,75,100,
                    12,ES_AUTOHSCROLL | WS_DISABLED
    PUSHBUTTON      "&Reset",IDC_NAMES_AND_PASSWDS_RESET_BUTTON,54,95,50,14,
                    WS_GROUP
    DEFPUSHBUTTON   "&Close",IDCANCEL,114,95,50,14,NOT WS_TABSTOP
END
