/* $Revision: 1.1 $ */
#include "dba.ext"
#include "dmalloc.def"
#include <stdarg.h>

#if defined RIS4
#include "sql.h"
#include "ris_err.h"
#elif defined RIS5
#include "ris.h"
#include "ris_err.h"
#else
#include "RISint_err.h"
#include "RISapp_err.h"
#endif

extern char *dba_timestamp_format, *dba_errtxt;

exec sql begin declare section;
  sqlda dba_d[11];
exec sql end declare section;
int dba_cur_in_use[11];
extern int dba_use_server_flag;
/*
    Function:	dba_ris_select
    Author:	Tim A. Thompson
    Date:	6-AUG-90  (adapted for stand-alone use 22-APR-92)

    Revisions:
	7-1-92  -- Added cursors 5 and 6 for internal use.
	7-20-92 -- Added cursor 7 for internal use.
	1-14-92  -- Moved dba_upgrade_sqltype() to dba_select() from
		    dba_fetch()
*/

int dba_ris_select (curs, in_desc, sqltxt)
int curs;
sqlda **in_desc;
exec sql begin declare section;
  char *sqltxt;
exec sql end declare section;
{
  exec sql begin declare section;
    sqlda *desc;
  exec sql end declare section;
  int status=0, k;

  exec sql whenever sqlerror goto :sql_error;
  
  desc = 0;

  switch (curs) {
    case 0:
      if (dba_cur_in_use[0]) {
        status = dba_scr_close_cursor0 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s0 from :sqltxt;
      exec sql declare c0 cursor for s0;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s0 using descriptor desc;
      break;
    case 1:
      if (dba_cur_in_use[1]) {
        status = dba_scr_close_cursor1 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s1 from :sqltxt;
      exec sql declare c1 cursor for s1;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s1 using descriptor desc;
      break;
    case 2:
      if (dba_cur_in_use[2]) {
        status = dba_scr_close_cursor2 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s2 from :sqltxt;
      exec sql declare c2 cursor for s2;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s2 using descriptor desc;
      break;
    case 3:
      if (dba_cur_in_use[3]) {
        status = dba_scr_close_cursor3 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s3 from :sqltxt;
      exec sql declare c3 cursor for s3;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s3 using descriptor desc;
      break;
    case 4:
      if (dba_cur_in_use[4]) {
        status = dba_scr_close_cursor4 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s4 from :sqltxt;
      exec sql declare c4 cursor for s4;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s4 using descriptor desc;
      break;
    case 5:
      if (dba_cur_in_use[5]) {
        status = dba_scr_close_cursor5 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s5 from :sqltxt;
      exec sql declare c5 cursor for s5;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s5 using descriptor desc;
      break;
    case 6:
      if (dba_cur_in_use[6]) {
        status = dba_scr_close_cursor6 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s6 from :sqltxt;
      exec sql declare c6 cursor for s6;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s6 using descriptor desc;
      break;
    case 7:
      if (dba_cur_in_use[7]) {
        status = dba_scr_close_cursor7 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s7 from :sqltxt;
      exec sql declare c7 cursor for s7;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s7 using descriptor desc;
      break;
    case 8:
      if (dba_cur_in_use[8]) {
        status = dba_scr_close_cursor8 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s8 from :sqltxt;
      exec sql declare c8 cursor for s8;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s8 using descriptor desc;
      break;
    case 9:
      if (dba_cur_in_use[9]) {
        status = dba_scr_close_cursor9 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s9 from :sqltxt;
      exec sql declare c9 cursor for s9;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s9 using descriptor desc;
      break;
    case 10:
      if (dba_cur_in_use[10]) {
        status = dba_scr_close_cursor10 ();
        if (status != RIS_SUCCESS)
          goto sql_error;
      }
      exec sql prepare s10 from :sqltxt;
      exec sql declare c10 cursor for s10;
      desc = &dba_d[curs];
      dba_d[curs].sqld = dba_d[curs].sqln = 0;
      exec sql describe output s10 using descriptor desc;
      break;
    default:
      strcpy (dba_errtxt, dba_get_msg (DBA_E_SCR_INV_CURSOR, "%ld", 0, 
        (long) curs, NP));
      return (99); }

  dba_d[curs].sqlvar = (sqlvar *) dba_dmalloc
      (dba_d[curs].sqld * sizeof (sqlvar), DM_SQLVAR);
  dba_d[curs].sqln = dba_d[curs].sqld;
  switch (curs) {
    case 0:
      exec sql describe output s0 using descriptor desc;
      exec sql open c0;
      break;
    case 1:
      exec sql describe output s1 using descriptor desc;
      exec sql open c1;
      break;
    case 2:
      exec sql describe output s2 using descriptor desc;
      exec sql open c2;
      break;
    case 3:
      exec sql describe output s3 using descriptor desc;
      exec sql open c3;
      break;
    case 4:
      exec sql describe output s4 using descriptor desc;
      exec sql open c4;
      break;
    case 5:
      exec sql describe output s5 using descriptor desc;
      exec sql open c5;
      break;
    case 6:
      exec sql describe output s6 using descriptor desc;
      exec sql open c6;
      break;
    case 7:
      exec sql describe output s7 using descriptor desc;
      exec sql open c7;
      break;
    case 8:
      exec sql describe output s8 using descriptor desc;
      exec sql open c8;
      break;
    case 9:
      exec sql describe output s9 using descriptor desc;
      exec sql open c9;
      break;
    case 10:
      exec sql describe output s10 using descriptor desc;
      exec sql open c10;
      break;
  }
  dba_cur_in_use[curs] = 1;
  for (k=0; k<desc->sqld; k++)
    dba_upgrade_sqltype (&desc->sqlvar[k]);

sql_error:
  exec sql whenever sqlerror continue;
  if (status || dba_get_sqlcode() != RIS_SUCCESS) {
    dba_cur_in_use[curs] = 0;
    if (dba_d[curs].sqlvar) {
      dba_dfree (dba_d[curs].sqlvar);
      dba_d[curs].sqlvar = 0;
    }
  }

  if (in_desc)
    *in_desc = desc;

  return (status ? status : dba_get_sqlcode());
}


/*
    function:	dba_ris_fetch
    Author:	Tim A. Thompson
    Date:	8-AUG-90  (adapted for stand-alone use 26-APR-92)

    Revisions:
	7-1-92   -- Added cursors 5 and 6 for internal use.
	7-20-92  -- Call dba_upgrade_sqltype() for passed sqlda.
	7-20-92  -- Added cursor 7 for internal use.
	10-29-92 -- Include "stdarg.h" instead of "sys/varargs.h" and change
		    function declaration to ansi style.  (To fix Sun problem.)
	1-14-92  -- Moved dba_upgrade_sqltype() to dba_select() from
		    dba_fetch()
	9-15-93  -- Was not freeing valptr and indptr.
*/

int dba_ris_fetch (int curs, sqlda *in_desc, va_list ap)
{
  exec sql begin declare section;
    sqlda *desc;
  exec sql end declare section;
  int istat, k, coltype, timefetch=0;
  long tmplong;
  char **valptr=0;
  long **indptr;

  if (!dba_cur_in_use[curs]) {
    strcpy (dba_errtxt, dba_get_msg (DBA_E_SCR_CURSOR_NOT_OPEN, "%ld", 0,
      (long) curs, NP));
    return (99);
  }

/*
  va_start (ap, in_desc);
*/
  if (in_desc) {
    desc = in_desc;
/*
    for (k=0; k<desc->sqld; k++)
      dba_upgrade_sqltype (&desc->sqlvar[k]);
*/
  }
  else
  {
    desc = &dba_d[curs];
    valptr = (char **) dba_dmalloc (desc->sqld * sizeof (char *), DM_TMP);
    indptr = (long **) dba_dmalloc (desc->sqld * sizeof (long *), DM_TMP);
    for (k=0; k<desc->sqld; k++) {
      valptr[k] = va_arg (ap, char *);
      indptr[k] = va_arg (ap, long *);
/*
      dba_upgrade_sqltype (&desc->sqlvar[k]);
*/
      coltype = desc->sqlvar[k].sqltype;
      if (coltype == 9) {
        timefetch = 1;
        desc->sqlvar[k].sqldata =
            (char *) dba_dmalloc (desc->sqlvar[k].sqllen, DM_TIMESTAMP_TMP);
      }
      else
      {
        desc->sqlvar[k].sqldata = valptr[k];
        if (coltype == 1)
          valptr[k][desc->sqlvar[k].sqllen] = '\0';
      }
      if (indptr[k])
        desc->sqlvar[k].sqlind = indptr[k];
      else
        desc->sqlvar[k].sqlind = &tmplong;
    }
  }
  switch (curs) {
    case 0:
      exec sql fetch c0 using descriptor desc;
      break;
    case 1:
      exec sql fetch c1 using descriptor desc;
      break;
    case 2:
      exec sql fetch c2 using descriptor desc;
      break;
    case 3:
      exec sql fetch c3 using descriptor desc;
      break;
    case 4:
      exec sql fetch c4 using descriptor desc;
      break;
    case 5:
      exec sql fetch c5 using descriptor desc;
      break;
    case 6:
      exec sql fetch c6 using descriptor desc;
      break;
    case 7:
      exec sql fetch c7 using descriptor desc;
      break;
    case 8:
      exec sql fetch c8 using descriptor desc;
      break;
    case 9:
      exec sql fetch c9 using descriptor desc;
      break;
    case 10:
      exec sql fetch c10 using descriptor desc;
      break;
  }

  if (dba_get_sqlcode() != RIS_SUCCESS && dba_get_sqlcode() != END_OF_DATA) {
    dba_cur_in_use[curs] = 0;
    if (desc->sqlvar) {
      dba_dfree (desc->sqlvar);
      desc->sqlvar = 0;
    }
  }
  else
  {
    if (timefetch) {
      for (k=0; k<desc->sqld; k++) {
        if (desc->sqlvar[k].sqltype == 9) {
          istat = RISdatetime_to_ascii (desc->sqlvar[k].sqldata, valptr[k],
              dba_timestamp_format);
          dba_dfree (desc->sqlvar[k].sqldata);
        }
      }
    }
  }
  if (valptr) {
    dba_dfree (valptr);
    dba_dfree (indptr);
  }
/*
  va_end (ap);
*/
  return (dba_get_sqlcode());
}


/*
    Function:	dba_ris_close_cursor
    Author:	Tim A. Thompson
    Date:	13-AUG-90  (adapted for stand-alone use 25-APR-92)

    Revisions:
	7-1-92  -- Added cursors 5 and 6 for internal use.
	7-20-92 -- Added cursor 7 for internal use.
*/

int dba_ris_close_cursor (curs)
int curs;
{
  int status = 0;

  if (dba_cur_in_use[curs]) {
    switch (curs) {
      case 0:
        status = dba_scr_close_cursor0 ();
        break;
      case 1:
        status = dba_scr_close_cursor1 ();
        break;
      case 2:
        status = dba_scr_close_cursor2 ();
        break;
      case 3:
        status = dba_scr_close_cursor3 ();
        break;
      case 4:
        status = dba_scr_close_cursor4 ();
        break;
      case 5:
        status = dba_scr_close_cursor5 ();
        break;
      case 6:
        status = dba_scr_close_cursor6 ();
        break;
      case 7:
        status = dba_scr_close_cursor7 ();
        break;
      case 8:
        status = dba_scr_close_cursor8 ();
        break;
      case 9:
        status = dba_scr_close_cursor9 ();
        break;
      case 10:
        status = dba_scr_close_cursor10 ();
        break;
    }
  }
  dba_cur_in_use[curs] = 0;
  if (dba_d[curs].sqlvar) {
    dba_dfree (dba_d[curs].sqlvar);
    dba_d[curs].sqlvar = 0;
  }

  return (status);
}


/*
   Function:	dba_scr_close_cursor0
   Author:	Tim A. Thompson
   Date:	24-NOV-91
*/

int dba_scr_close_cursor0 ()
{
  if (dba_d[0].sqlvar) {
    dba_dfree (dba_d[0].sqlvar);
    dba_d[0].sqlvar = 0;
  }
  exec sql close c0;
  if (dba_get_sqlcode() != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode() == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode() == RISint_CURSOR_NOT_OPEN
        || dba_get_sqlcode() == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c0;
  if (dba_get_sqlcode() != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}


/*
   Function:	dba_scr_close_cursor1
   Author:	Tim A. Thompson
   Date:	29-JAN-91
*/

int dba_scr_close_cursor1 ()
{
  if (dba_d[1].sqlvar) {
    dba_dfree (dba_d[1].sqlvar);
    dba_d[1].sqlvar = 0;
  }
  exec sql close c1;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c1;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}


/*
   Function:	dba_scr_close_cursor2
   Author:	Tim A. Thompson
   Date:	29-JAN-91
*/

int dba_scr_close_cursor2 ()
{
  if (dba_d[2].sqlvar) {
    dba_dfree (dba_d[2].sqlvar);
    dba_d[2].sqlvar = 0;
  }
  exec sql close c2;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c2;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}


/*
   Function:	dba_scr_close_cursor3
   Author:	Tim A. Thompson
   Date:	24-NOV-91
*/

int dba_scr_close_cursor3 ()
{
  if (dba_d[3].sqlvar) {
    dba_dfree (dba_d[3].sqlvar);
    dba_d[3].sqlvar = 0;
  }
  exec sql close c3;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c3;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}


/*
   Function:	dba_scr_close_cursor4
   Author:	Tim A. Thompson
   Date:	24-NOV-91
*/

int dba_scr_close_cursor4 ()
{
  if (dba_d[4].sqlvar) {
    dba_dfree (dba_d[4].sqlvar);
    dba_d[4].sqlvar = 0;
  }
  exec sql close c4;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN ||  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c4;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}


/*
   Function:	dba_scr_close_cursor5
   Author:	Tim A. Thompson
   Date:	01-JUL-92
*/

int dba_scr_close_cursor5 ()
{
  if (dba_d[5].sqlvar) {
    dba_dfree (dba_d[5].sqlvar);
    dba_d[5].sqlvar = 0;
  }
  exec sql close c5;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c5;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}


/*
   Function:	dba_scr_close_cursor6
   Author:	Tim A. Thompson
   Date:	01-JUL-92
*/

int dba_scr_close_cursor6 ()
{
  if (dba_d[6].sqlvar) {
    dba_dfree (dba_d[6].sqlvar);
    dba_d[6].sqlvar = 0;
  }
  exec sql close c6;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c6;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}


/*
    Function:	dba_scr_close_cursor7
    Author:	Tim A. Thompson
    Date:	20-JUL-92
*/

int dba_scr_close_cursor7 ()
{
  if (dba_d[7].sqlvar) {
    dba_dfree (dba_d[7].sqlvar);
    dba_d[7].sqlvar = 0;
  }
  exec sql close c7;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c7;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}

/*
    Function:	dba_scr_close_cursor8
    Author:	Tim A. Thompson
    Date:	20-JUL-92
*/

int dba_scr_close_cursor8 ()
{
  if (dba_d[8].sqlvar) {
    dba_dfree (dba_d[8].sqlvar);
    dba_d[8].sqlvar = 0;
  }
  exec sql close c8;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c8;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}

/*
    Function:	dba_scr_close_cursor9
    Author:	Tim A. Thompson
    Date:	20-JUL-92
*/

int dba_scr_close_cursor9 ()
{
  if (dba_d[9].sqlvar) {
    dba_dfree (dba_d[9].sqlvar);
    dba_d[9].sqlvar = 0;
  }
  exec sql close c9;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c9;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}

/*
    Function:	dba_scr_close_cursor10
    Author:	Tim A. Thompson
    Date:	20-JUL-92
*/

int dba_scr_close_cursor10 ()
{
  if (dba_d[10].sqlvar) {
    dba_dfree (dba_d[10].sqlvar);
    dba_d[10].sqlvar = 0;
  }
  exec sql close c10;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  exec sql clear cursor c10;
  if (dba_get_sqlcode()  != RIS_SUCCESS) {
#if defined RIS4 || defined RIS5
    if (dba_get_sqlcode()  == RIS_E_CURSOR_NOT_OPEN)
#else
    if (dba_get_sqlcode()  == RISint_CURSOR_NOT_OPEN || dba_get_sqlcode()  == RISapp_CURSOR_NOT_OPEN)
#endif
      return (0);
    return (dba_get_sqlcode());
  }
  return (0);
}
