/* $Revision: 1.1 $ */
/* Function:  dba_ris_report_ris_error
   Author:    Tim A. Thompson
   Date:      18-APR-91
*/

int dba_ris_report_ris_error ()
{
  exec sql begin declare section;
    char *err;
  exec sql end declare section;

  int status;

  exec sql report error into :err;
  status = dba_output_error (err);
  if (status) return (status);

  return (0);
}
