/* $Revision: 1.1 $ */
#include "dba.ext"
#include <stdio.h>

extern char *dba_errtxt;
extern int dba_error;

/* Function:	dba_ris_exec_sql

Description: This function passes the input string along to RIS.

Author: T. F. Ezell
Date: 10-Mar-90 */

int dba_ris_exec_sql(string)

exec sql begin declare section;
char *string;
exec sql end declare section;

{
    exec sql whenever sqlerror goto :sql_error;
    exec sql prepare i1 from :string;
    exec sql execute i1;
    return(0);

sql_error:
    return(99);
}
