/* Do not alter this SPC information: $Revision: 1.3.27.1 $ */
/*
**	NAME:							dldmain.c
**	AUTHORS:						Terrence McIntyre,Rick Kramer
**	CREATION DATE:					8/93
**	ABSTRACT:
**	
**	REVISION HISTORY:
*/
#define DLD_GLOBAL_DEFINE
 
/*
**	INCLUDES
*/
#include <stdio.h>
#include <windows.h>
#ifdef MM
#include "unlod.h"
#endif
exec sql include "unlod.h";


/*
**	DEFINES
*/

/*
**	TYPES
*/

/*
**	FUNCTION PROTOTYPES
*/
#define lod32s_c

#include "lodmisc.prt"
#include "lodbatch.prt"
#include "loddsprt.prt"

/*
**	VARIABLES
*/
/*
**	FUNCTIONS
*/
	HANDLE handle;

/******************************************************************************/

extern int RIS_loader(
	risloddes	*risloddes_ptr)
{
	return RISX_loader(risloddes_ptr);
}

/******************************************************************************/

extern int RISlod_batch_load(
	int			argc,
	char		*argv[],
	int			mode,
	risloddes 	*risloddes_ptr)
{
	return RISXlod_batch_load(argc, argv, mode, risloddes_ptr);
}

/******************************************************************************/

extern void RISlod_interactive_load(
	int		mode)
{
	RISXlod_interactive_load(mode);
}

/******************************************************************************/

extern void RISlod_fprint_risloddes(
	FILE *fp,
	risloddes	*risloddes_ptr)
{
	RISXlod_fprint_risloddes(fp, risloddes_ptr);
}

/******************************************************************************/

extern int *RISlod_get_RISlod_debug_addr()
{
	return (int *)RISXlod_get_RISlod_debug_addr();
}

