#include <windows.h>
#include "interop.h"
#include "intstg.h"
#include "intver.h"

1    BITMAP    ingr.bmp

InteropIcon	ICON    interop.ico
WarnIcon		ICON    exclaim.ico

                                                                                
VS_VERSION_INFO VERSIONINFO                                                     
FILEVERSION     VER_FILEVERSION                                                 
PRODUCTVERSION  VER_PRODUCTVERSION                                              
FILEFLAGSMASK   VER_FILEFLAGSMASK                                               
FILEFLAGS       VER_FILEFLAGS                                                   
FILEOS          VER_FILEOS                                                      
FILETYPE        VER_FILETYPE                                                    
FILESUBTYPE     VER_FILESUBTYPE                                                 
{                                                                               
   BLOCK "StringFileInfo"                                                       
   {                                                                            
   BLOCK "040904E4"                                                             
      {                                                                         
      VALUE "CompanyName",     VER_COMPANYNAME_STR                              
      VALUE "FileDescription", VER_PRODUCTNAME_STR                         
      VALUE "FileVersion",     VER_FILEVERSION_STR                              
      VALUE "InternalName",    "risintop.exe\0"                                 
      VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR                           
      VALUE "LegalTrademarks", VER_LEGALTRADEMARKS_STR                          
      VALUE "ProductName",     VER_PRODUCTNAME_STR                              
      VALUE "ProductVersion",  VER_PRODUCTVERSION_STR                           
      VALUE "Comments",        VER_COMMENT_STR                                  
      }                                                                         
   }                                                                            
}

/* interop.c */
STRINGTABLE DISCARDABLE 
BEGIN
	IDS_CONFIGURE_RIS	"Configure RIS Version"
	IDS_CONFIG_ERROR	"Configure RIS Version ERROR"
	IDS_SOURCE_MISSING	"Source file does not exist!! \nPlease enter a valid file name"
	IDS_SAVE_FILE_EXIST	"Save file may exist or the filename may be invalid\nPlease enter another filename.."
	IDS_NOT_CONFIG		"RIS has not been configured for interoperability"
	IDS_NOT_NECESSARY	"Configuring RIS for interoperability not necessary"
	IDS_LEFT_BEHIND		"RIS Shared Component files or directories \nmay be left behind. Please delete them manually."
	IDS_CONFIG_SUCCEED	"RIS Shared Component Removal for Interoperability Succeeded."
	IDS_REMOVE_GROUP	"Unable to remove Program Group. Please delete manually."
        IDS_ERROR_REGISTRY      "Older versions of RIS do not exist in the Registry"
END


rcinclude interop.dlg
rcinclude cuirsc.rc
