/* $Revision: 1.1 $ */
#include "dba.ext"

extern char *dba_errtxt;

/* Function:	dba_ris_prepare_sql */
int dba_ris_prepare_sql (sqlptr)
exec sql begin declare section;
  char *sqlptr;
exec sql end declare section;
{
  if (!sqlptr) return (0);

  exec sql prepare s1 from :sqlptr;
  if (dba_get_sqlcode() != RIS_SUCCESS)
    { dba_sqlerr ();  return (99); }

  return (0);
}
