/* Do not alter this SPC information: $Revision: 1.4.28.1 $ */
/********************************************************************
Name:		clnsr.rc
Authors:       Rick Kramer
Creation Date: 03/28/95
Description:   Resource file for Clean Server utility

Revision History:

********************************************************************/
#include <windows.h>
#include "resource.h"

/********************************************************
Icons
********************************************************/
IDI_CLNSR ICON risclnsr.ico

/********************************************************
Menus
********************************************************/
RISclnsr MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit\tAlt+F4",                       IDM_FILE_EXIT
    END
END


/********************************************************
Dialogs
********************************************************/
IDD_CLNSR DIALOG 0, 0, 206, 211
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "RISclnsr"
CAPTION "RIS Clean Server Utility"
MENU RISclnsr
FONT 8, "Helv"
{
 LTEXT "** Do not run this program while others are connected to the schema.**\n\nThe purpose of this program is to remove records from RIS dictionary tables that indicate that the schema is in use.", -1, 6, 11, 194, 42, NOT WS_GROUP
 LISTBOX IDC_CLNSR_SCHEMAS, 55, 70, 86, 84, LBS_STANDARD | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_GROUP | WS_TABSTOP
 GROUPBOX "Schema Names", -1, 43, 58, 110, 105, BS_GROUPBOX
 PUSHBUTTON "&Clean", IDC_CLNSR_CLEAN, 36, 172, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Refresh", IDC_CLNSR_RESTART, 117, 172, 50, 14, NOT WS_TABSTOP
}
