#include <windows.h>
#include "resource.h"
/********************************************************
Icons
********************************************************/
IDI_LOD ICON risgui.ico

/********************************************************
Menus
********************************************************/
RISgui MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open Query..",                IDM_GUI_OPEN_QUERY
        MENUITEM "&Save Query..",                IDM_GUI_SAVE_QUERY
        MENUITEM SEPARATOR
        MENUITEM "S&ave Results..",              IDM_GUI_SAVE_RESULTS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDM_FILE_EXIT
    END
    POPUP "&Config"
    BEGIN
        MENUITEM "&Parameters File..",           IDM_GUI_PARAMETERS
        MENUITEM "&Schemas In Transaction.",     IDM_GUI_SCHEMA_IN_TRANS
        MENUITEM "&RIS Settings..",              IDM_GUI_SETTINGS
    END
    POPUP "&Query"
    BEGIN
        MENUITEM "&Execute",                     IDM_GUI_EXECUTE
        MENUITEM "&Abort",                       IDM_GUI_ABORT
        MENUITEM "&Clear",                       IDM_GUI_CLEAR
        MENUITEM "C&ontinue",                    IDM_GUI_CONTINUE
        MENUITEM "&Next",                        IDM_GUI_NEXT_QRY
        MENUITEM "&Previous",                    IDM_GUI_PREV_QRY
        MENUITEM "&Refresh",                     IDM_GUI_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "&History..",                   IDM_GUI_HISTORY
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "Fetch by screen (Append)",    IDM_GUI_FASCR
        MENUITEM "Fetch by screen (Overwrite)", IDM_GUI_FOSCR
        MENUITEM "Fetch all rows",              IDM_GUI_FALL
    END

END


// Dialog Boxes


RISGUI_TMP DIALOG DISCARDABLE  18, 31, 294, 300
STYLE WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "RIS Interactive Utility"
MENU RISgui
CLASS "RISgui"
FONT 8, "Helv"
BEGIN
    COMBOBOX        IDC_GUI_DEFSCH,169,16,73,30,CBS_DROPDOWNLIST | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_GUI_QUERY,11,47,270,73,ES_MULTILINE | WS_VSCROLL | 
                    WS_HSCROLL | 0x1000
    DEFPUSHBUTTON   "EXEC",IDC_GUI_EXECUTE,7,13,25,17,NOT WS_TABSTOP
    DEFPUSHBUTTON   "CLR",IDC_GUI_CLEAR,32,13,25,17,NOT WS_TABSTOP
    DEFPUSHBUTTON   "ABRT",IDC_GUI_ABORT,57,13,25,17,NOT WS_TABSTOP
    PUSHBUTTON      "CONT",IDC_GUI_CONTINUE,82,13,25,17,NOT WS_TABSTOP
    PUSHBUTTON      ">>",IDC_GUI_NEXT_QRY,107,13,25,17,NOT WS_TABSTOP
    PUSHBUTTON      "<<",IDC_GUI_PREV_QRY,132,13,25,17,NOT WS_TABSTOP
    PUSHBUTTON      "REFR",IDC_GUI_REFRESH,249,13,25,17,NOT WS_TABSTOP
    SCROLLBAR       IDC_VERT,270,140,10,125,SBS_VERT
    EDITTEXT        IDC_MC1,7,140,55,128,ES_MULTILINE | ES_AUTOHSCROLL | 
                    ES_READONLY | WS_HSCROLL | NOT WS_TABSTOP | WS_DISABLED
    EDITTEXT        IDC_MC2,61,140,55,128,ES_MULTILINE | ES_AUTOHSCROLL | 
                    ES_READONLY | WS_HSCROLL | NOT WS_TABSTOP | WS_DISABLED
    EDITTEXT        IDC_MC3,113,140,55,128,ES_MULTILINE | ES_AUTOHSCROLL | 
                    ES_READONLY | WS_HSCROLL | NOT WS_TABSTOP | WS_DISABLED
    EDITTEXT        IDC_MC4,163,140,55,128,ES_MULTILINE | ES_AUTOHSCROLL | 
                    ES_READONLY | WS_HSCROLL | NOT WS_TABSTOP | WS_DISABLED
    EDITTEXT        IDC_MC5,215,140,55,128,ES_MULTILINE | ES_AUTOHSCROLL | 
                    ES_READONLY | WS_HSCROLL | NOT WS_TABSTOP | WS_DISABLED
    SCROLLBAR       IDC_HORIZ,6,268,276,11
    LTEXT           "Query",IDC_GUI_STATIC,12,33,30,10
    EDITTEXT        IDC_LABEL1,10,124,50,12,ES_AUTOHSCROLL | ES_READONLY | 
                    NOT WS_BORDER | WS_DISABLED
    EDITTEXT        IDC_LABEL2,62,124,54,12,ES_AUTOHSCROLL | ES_READONLY | 
                    NOT WS_BORDER | WS_DISABLED
    EDITTEXT        IDC_LABEL3,118,124,52,12,ES_AUTOHSCROLL | ES_READONLY | 
                    NOT WS_BORDER | WS_DISABLED
    EDITTEXT        IDC_LABEL4,163,124,53,12,ES_AUTOHSCROLL | ES_READONLY | 
                    NOT WS_BORDER | WS_DISABLED
    EDITTEXT        IDC_LABEL5,218,124,57,12,ES_AUTOHSCROLL | ES_READONLY | 
                    NOT WS_BORDER | WS_DISABLED
END


IDD_GUI_HISTORY DIALOG DISCARDABLE  0, 0, 277, 202
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "History"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_GUI_SCSTRING,50,7,146,30,CBS_DROPDOWN | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP | WS_GROUP
    LISTBOX         IDC_GUI_QRY, 14, 65, 243, 107, LBS_STANDARD | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | LBS_DISABLENOSCROLL | WS_GROUP | WS_TABSTOP
    CONTROL         "Up",IDC_GUI_UP,"Button",BS_AUTORADIOBUTTON,82,37,21,10
    CONTROL         "Down",IDC_GUI_DOWN,"Button",BS_AUTORADIOBUTTON,115,37,
                    30,10
    GROUPBOX        "Direction",IDC_GUI_STATIC,71,25,83,27
    PUSHBUTTON      "Find Next",IDC_GUI_FIND_NEXT,212,5,50,14
    PUSHBUTTON      "Copy",IDC_GUI_COPY,212,20,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,212,35,50,14
    LTEXT           "Query",IDC_GUI_STATIC,15,54,30,7
    CONTROL         "Match Case",IDC_GUI_MATCH_CASE,"Button",BS_AUTOCHECKBOX,
                    11,36,50,10
    EDITTEXT        IDC_GUI_HSTATUS,13,179,245,12,ES_AUTOHSCROLL | WS_GROUP | WS_DISABLED
    LTEXT           "Search String",IDC_GUI_STATIC,2,8,46,8 | WS_GROUP | WS_TABSTOP
END

IDD_GUI_SETTINGS DIALOG DISCARDABLE  0, 0, 185, 159
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,40,141,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,96,141,50,14
    CONTROL         "ANSI Mode",IDC_GUI_ANSI_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,31,23,48,10
    CONTROL         "Verify Mode",IDC_GUI_VERIFY_GUI,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,32,55,50,10
    CONTROL         "Autocommit",IDC_GUI_COMMIT_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,107,23,49,10
    CONTROL         "Blank Strip Mode",IDC_GUI_BLANK_CK,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,30,39,67,10
    CONTROL         "OS400",IDC_GUI_OS400_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,123,113,33,10
    CONTROL         "Informix",IDC_GUI_INX_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,23,86,37,10
    CONTROL         "ORACLE",IDC_GUI_ORACLE_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,23,99,40,10
    CONTROL         "Ingres",IDC_GUI_INGRES_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,74,87,32,10
    CONTROL         "DB2",IDC_GUI_DB2_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,74,100,25,10
    CONTROL         "SQL/DS",IDC_GUI_SQL_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,23,112,38,10
    CONTROL         "Rdb",IDC_GUI_RDB_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,123,85,25,10
    CONTROL         "SYBASE",IDC_GUI_SYBASE_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,123,100,39,10
    CONTROL         "Autorename",IDC_GUI_RENAME_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,107,39,50,10
    CONTROL         "MS/SQL",IDC_GUI_MSSQL_CK,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,74,113,39,10
    GROUPBOX        "Enabled Databases",IDC_GUI_STATIC,17,73,159,60
    GROUPBOX        "RIS options",IDC_GUI_STATIC,16,11,159,60
END

IDD_GUI_PARAMETERS DIALOG DISCARDABLE  0, 0, 221, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Parameters file"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "OK",IDOK,85,140,50,14
    EDITTEXT        IDC_GUI_EDIT1,14,11,38,125,ES_AUTOHSCROLL | NOT WS_BORDER | WS_DISABLED | ES_MULTILINE
    EDITTEXT        IDC_GUI_EDIT2,55,11,136,125,ES_MULTILINE | ES_READONLY | 
                    WS_DISABLED | NOT WS_BORDER
END

IDD_GUI_SCHEMA_IN_TRANS DIALOG DISCARDABLE  0, 0, 153, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Schemas in Transaction"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "OK",IDOK,51,145,50,14
    EDITTEXT        IDC_GUI_EDIT3,18,6,117,130,ES_MULTILINE | ES_AUTOHSCROLL | 
                    ES_READONLY | WS_DISABLED
END

