/* Do not alter this SPC information: $Revision: 1.4.28.1 $ */
/********************************************************************
Name:		unlod.rc
Authors:       Rick Kramer
Creation Date: 03/28/95
Description:   Resource file for Unloader utility

Revision History:

********************************************************************/
#include <windows.h>
#include "resource.h"

#define IDC_SCROLLBAR1			1016
#define IDC_SCROLLBAR2			1017
#define IDC_CHECK1			1021
#define IDC_CHECK2			1022
#define IDC_CHECK3			1023
#define IDC_CHECK4			1024

/********************************************************
Icons
********************************************************/
IDI_UNLOD ICON risunlod.ico

/********************************************************
Menus
********************************************************/
RISunlod MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit\tAlt+F4",                       IDM_FILE_EXIT
    END
END


RISunlod_tmp DIALOG 18, 31, 363, 231
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "RIS UnLoader Utility"
CLASS "RISunlod"
MENU RISunlod
FONT 8, "Helv"
{
 LTEXT "&Screen:", -1, 8, 8, 32, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDC_UNLOD_PROPERTY, 8, 20, 64, 142, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "&Start", IDOK, 8, 171, 64, 14
 CONTROL "", IDC_UNLOD_FRAME_DIALOGBOX, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 76, 4, 285, 200
}


RISunlod_Main DIALOG 0, 0, 206, 144
STYLE WS_POPUP | WS_CAPTION
CAPTION "RISunlod - General"
FONT 8, "Helv"
{
 AUTORADIOBUTTON "Yes", IDC_UNLOD_PRESERVE_Y, 15,20,25,10, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "No", IDC_UNLOD_PRESERVE_N, 15,35,20,10
 GROUPBOX "Preserve Blanks", -1, 10,5,70,45
 AUTORADIOBUTTON "Overwrite", IDC_UNLOD_MODE_O, 100,20,45,10, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Append", IDC_UNLOD_MODE_A, 100,35,35,10
 AUTORADIOBUTTON "Error if exists", IDC_UNLOD_MODE_E, 100,50,55,10
 GROUPBOX "File mode on all output files", -1, 90,5,110,60
 EDITTEXT IDC_UNLOD_OUTPUT_FILE, 15, 95, 120, 13, ES_AUTOHSCROLL | NOT WS_TABSTOP | WS_BORDER | WS_GROUP
 PUSHBUTTON "Browse...", IDC_UNLOD_BROWSE, 141, 95, 50, 14, NOT WS_TABSTOP
 GROUPBOX "Output Filename", -1, 10, 75, 187, 55
}

RISunlod_Tables DIALOG 4, 16, 276, 192
STYLE WS_POPUP | WS_CAPTION
CAPTION "RISunlod - Tables"
FONT 8, "Helv"
{
 COMBOBOX IDC_UNLOD_SCHEMAS1, 10,20,65,50, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Schemas", -1, 5,5,75,70

 LTEXT "Table", -1, 103, 11, 30, 8
 LTEXT "Where", -1, 188, 11, 30, 8
 EDITTEXT IDC_UNLOD_TAB1, 103, 21, 49, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_UNLOD_WHERE1, 152, 21, 93, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_UNLOD_TAB2, 103, 31, 49, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_UNLOD_WHERE2, 152, 31, 93, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_UNLOD_TAB3, 103, 41, 49, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_UNLOD_WHERE3, 152, 41, 93, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_UNLOD_TAB4, 103, 52, 49, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_UNLOD_WHERE4, 152, 52, 93, 13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP

 LISTBOX IDC_UNLOD_INDEX, 17, 107, 56, 75, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
 GROUPBOX "Index", -1, 7, 92, 72, 95

 AUTORADIOBUTTON "Both definitions and data", IDC_UNLOD_TABDEF_BOTH, 105, 107, 95, 10, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Definitions only", IDC_UNLOD_TABDEF_DEF, 105, 120, 90, 10
 GROUPBOX "Table Definitions", -1, 95, 90, 120, 45

 AUTORADIOBUTTON "Definitions and data in same file", IDC_UNLOD_DATA_SAME, 107, 152, 115, 10, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Data in different file", IDC_UNLOD_DATA_DIFF, 107, 167, 80, 10
 GROUPBOX "Data Files", -1, 98, 142, 130, 45

 AUTORADIOBUTTON "Fixed", IDC_UNLOD_DATA_FIXED, 232, 107, 35, 10, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Variable", IDC_UNLOD_DATA_VAR, 232, 120, 40, 10
 GROUPBOX "Data Format", -1, 224, 90, 51, 44

 SCROLLBAR IDC_SCROLLBAR1, 246, 22, 10, 46, SBS_VERT
 SCROLLBAR IDC_SCROLLBAR2, 154, 66, 90, 11, SBS_HORZ
 AUTOCHECKBOX "", IDC_CHECK1, 88, 21, 10, 10
 AUTOCHECKBOX "", IDC_CHECK2, 88, 31, 10, 10
 AUTOCHECKBOX "", IDC_CHECK3, 88, 41, 10, 10
 AUTOCHECKBOX "", IDC_CHECK4, 88, 51, 10, 10
}

RISunlod_Schemas DIALOG 0, 0, 246, 203
STYLE WS_POPUP | WS_CAPTION
CAPTION "RISunlod - Schemas"
FONT 8, "Helv"
{
 LISTBOX IDC_UNLOD_SCHEMAS, 45,20,48,40, LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Schemas", -1, 5,5,100,70
 LISTBOX IDC_UNLOD_VIEW, 10,110,95,70, LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "View", -1, 5,90,105,100
 LISTBOX IDC_UNLOD_PRIV, 125,110,95,70, LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Privilege", -1, 115,90,115,100
 LTEXT "User Name", -1, 186,10,45,10
 EDITTEXT IDC_UNLOD_USER, 110,10,75,13, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Password", -1, 186,25,35,10
 EDITTEXT IDC_UNLOD_PW, 110,25,75,13, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 LTEXT "OS User", -1, 186,40,35,10
 EDITTEXT IDC_UNLOD_OS, 110,40,75,13, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 LTEXT "OS Password", -1, 186,55,45,8
 EDITTEXT IDC_UNLOD_OS_PW, 110,55,75,13, ES_AUTOHSCROLL | ES_PASSWORD | WS_BORDER | WS_TABSTOP
 AUTOCHECKBOX "", IDC_CHECK1, 30,20,10,10
 AUTOCHECKBOX "", IDC_CHECK2, 30,30,10,10
 AUTOCHECKBOX "", IDC_CHECK3, 30,40,10,10
 AUTOCHECKBOX "", IDC_CHECK4, 30,50,10,10
}
