/* Do not alter this SPC information: $Revision: 1.1.54.1 $ */
/*
**	NAME:							btceximm.rc
**	AUTHORS:						Hitesh R. Patel
**	CREATION DATE:					8/92
**	ABSTRACT:
**		Execute immediate a query.	
**	
**	REVISION HISTORY: 
*/

/*
**	INCLUDES
*/
#include "risasync.h"
#include "batch.h"
#if defined(WIN32S)
#include <windows.h>
#include <windowsx.h>
#include "winport.h"
#include "winio.h"
#include "winhan.h"
#include "prog32s.h"
#endif

/*
**	FUNCTION PROTOTYPES
*/
#define btceximm_rc
#include "utlprint.prt"
#include "btcgtcmd.prt"
#include "btceximm.prt"
#include "comdebug.prt"
#include "comjmp.prt"
#include "ris.prt"
#include "utlerror.prt"

/*
**	DEFINES
*/

/*
**	VARIABLES
*/

/*
**	FUNCTIONS
*/

/******************************************************************************/

extern void RISutl_execimm(
	int execute_mode)
{
	int				i;
	char			c;
	char			buf[1000]; /* Is this enuff */

	exec sql begin declare section;
		int async_id;
		virtual char *query as buf;
	exec sql end declare section;

	BTC_DBG(("RISutl_execimm(execute_mode:%d)\n", execute_mode));

	RISutl_printf("\nEnter a query to be executed immediately.\n");
#if !defined(WIN32S)
	if (RISutl_file_tos->file == stdin)
	{
		if (RISbtc_getcmd(buf, 1000, stdin) == -1)
		{
			LONGJMP(RISUTL_E_INPUT_TOO_LONG);
		}
	}
	else
	{
#endif
		/*
		** THIS CAN BE REPLACED BY RISbtc_getcmd()
		*/
		while((c = getc(RISutl_file_tos->file)) == ' ' | c == '\n' | c == '\t');

		for (buf[0]=c,i=1; (c = getc(RISutl_file_tos->file)) != ';'; i++)
		{
			buf[i]=c;
		}
		buf[i] = '\0';

		/* to remove the newline char */

		getc(RISutl_file_tos->file);
#if !defined(WIN32S)
	}
#endif
	if( execute_mode == ASYNC_START_MODE )
	{
		exec sql async :async_id execute immediate :query;
	}
	else
	{
		exec sql execute immediate :query;
	}
	UTL_ERROR_CHECK();
	UTL_WARNING_CHECK();

	if (SQLCODE == END_OF_DATA)
	{
		RISutl_printf("No rows updated.\n");
	}

	if (execute_mode == ASYNC_START_MODE)
	{
		RISutl_printf("\nThe async id for this statement is %d\n", async_id);
	}

	BTC_DBG(("RISutl_execimm:returning\n"));
}

/******************************************************************************/

