#include "machine.h"
/********************************************************************
*********************************************************************
*                                                                   *
*                                                                   *
* Abstract         To execute a dynamic SQL statement.              *
*                                                                   *
* Arguements       long SQLstmt (str)                               *
*                    char   str;                                    *
*                                                                   *
* Algorithm        This routine takes the input statement and then  *
*                  does a 
*                                                                   *
* Return Status     MEM_S_SUCCESS : Success.                        *
*                   MEM_E_MALLOC  : Failure.                        *
*                                                                   *
* Bugs             No known bugs.                                   *
*                                                                   *
* Notes            Also see the MEMstruct.h for MEMptr description. *
*                                                                   *
* Examples         status = MEMopen (&list, 512);                   *
*                                                                   *
* Also See                                                          *
*                                                                   *
* History                                                           *
*                   Developed by : Choudhary A Yarlagadda           *
*                   Date         : December 01 1987                 *
*                                                                   *
*                                                                   *
*********************************************************************
********************************************************************/

#include "SQL.h"

 long SQLstmt_count = 0;

 long SQLstmt_lock_filter (sql_str)
    exec sql begin declare section;
      char     *sql_str;
    exec sql end declare section;
    {
       static char *fname = "SQLstmt_lock_filter";
       exec sql begin declare section;
         long   status;
         sqlda	out_desc;
       exec sql end declare section;

       SQLstmt_count = SQLstmt_count + 1;

       _SQLdebug ((fname, "SQL STMT : <%s>\n", sql_str));

       /* prepare a dynamic SQL statement */

       exec sql prepare stmt1 from : sql_str;
       if (SQLCODE)
        {
           if (SQLCODE != END_OF_DATA)
            {
              status = SQLerror (SQL_E_PREPARE,
                       risca -> sqlerrd [1], SQLCODE);
              _SQLdebug ((fname, "Prepare Failed : status = <0x%.8x>\n",
               status));
            }
           else
            {
/*              status = SQLerror (SQL_I_NO_ROWS_FOUND, 
                        risca -> sqlerrd [1], SQLCODE); */
	      status = SQL_I_NO_ROWS_FOUND ;
              _SQLdebug ((fname, "No Rows Found : status = <0x%.8x>\n",
              status));
	      ERRload_struct (SQL, status, NULL) ;
            }

           exec sql clear stmt1;
/*           ERRload_struct (SQL, status, NULL); */
           return (status);
        }
 
        /*
        **	if the statement is not a SELECT statement (sqld == 0),
        **		execute the statement.
        */
	
       out_desc.sqld = 0;
       out_desc.sqln = 0;
       out_desc.sqlvar = 0;

       /* get the count of output columns */

       exec sql describe output stmt1 using descriptor out_desc;
       if (SQLCODE)
        {
           if (SQLCODE != END_OF_DATA)
            {
              status = SQLerror (SQL_E_DESCRIBE, risca -> sqlerrd [1],
                       SQLCODE);
              _SQLdebug ((fname, "Describe Failed : status = <0x%.8x>\n",
              status));
            }
           else
            {
/*              status = SQLerror (SQL_I_NO_ROWS_FOUND, 
                       risca -> sqlerrd [1], SQLCODE); */
	      status = SQL_I_NO_ROWS_FOUND ;
              _SQLdebug ((fname, "No Row Found : status = <0x%.8x>\n",
              status));
	      ERRload_struct (SQL, status, NULL) ;
	      
            }

           exec sql clear stmt1;
/*           ERRload_struct (SQL, status, NULL); */
           return (status);
        }

       /* non-SELECT statements will have sqld == 0 (no result columns) */

       if (out_desc.sqld != 0)
        {
          status = SQLerror (SQL_E_NOT_STMT, 0, 0);
          exec sql clear stmt1;
          _SQLdebug ((fname, "Not A SQL Statement : status = <0x%.8x>\n",
          status));
/*          ERRload_struct (SQL, status, NULL); */
          return (status);
        }

       exec sql execute stmt1;
       if (SQLCODE)
        {
           if (SQLCODE != END_OF_DATA)
            {
              status = SQLerror (SQL_E_EXECUTE, risca -> sqlerrd [1],
                       SQLCODE); 
              _SQLdebug ((fname, "Execute Failed : status = <0x%.8x>\n",
              status));
            }
           else
            {
/*              status = SQLerror (SQL_I_NO_ROWS_FOUND,
                       risca -> sqlerrd [1], SQLCODE); */
	      status = SQL_I_NO_ROWS_FOUND ;
              _SQLdebug ((fname, "No Row Found : status = <0x%.8x>\n",
              status));
	      ERRload_struct (SQL, status, NULL) ;
            }

          exec sql clear stmt1;
/*          ERRload_struct (SQL, status, NULL); */
          return (status);
        }

       exec sql clear stmt1;
       if (SQLCODE)
        {
           if (SQLCODE != END_OF_DATA)
            {
              status = SQLerror (SQL_E_CLEAR,
                       risca -> sqlerrd [1], SQLCODE);
              _SQLdebug ((fname, "Clear Failed : status = <0x%.8x>\n",
              status));
            }
           else
            {
/*              status = SQLerror (SQL_I_NO_ROWS_FOUND,
                       risca -> sqlerrd [1], SQLCODE); */
	      status = SQL_I_NO_ROWS_FOUND ;
              _SQLdebug ((fname, "No Row Found : status = <0x%.8x>\n",
              status));
	      ERRload_struct (SQL, status, NULL) ;
            }
          return (status);
        }

       _SQLdebug ((fname, "SUCCESSFUL\n")) ;
       return (SQL_S_SUCCESS);
    }
