/* Do not alter this SPC information: $Revision: 1.4.28.1 $ */
/********************************************************************
Name:		plbck.rc
Authors:       Rick Kramer
Creation Date: 03/28/95
Description:   Resource file for Playback utility

Revision History:

********************************************************************/
#include <windows.h>
#include "resource.h"

/********************************************************
Icons
********************************************************/
IDI_PLBCK ICON risplbck.ico

/********************************************************
Menus
********************************************************/
RISplbck MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit\tAlt+F4",                       IDM_FILE_EXIT
    END
END


/********************************************************
Dialogs
********************************************************/
RISplbck_tmp DIALOG 18, 31, 338, 271
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "RIS Playback Utility"
CLASS "RISplbck"
MENU RISplbck
FONT 8, "Helv"
{
 LTEXT "&Screen:", -1, 8, 8, 32, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 LISTBOX IDC_PLBCK_PROPERTY, 8, 20, 64, 142, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "&Start", IDOK, 8, 171, 64, 14
 CONTROL "", IDC_PLBCK_FRAME_DIALOGBOX, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 76, 4, 260, 240
}

RISplbckMain DIALOG 6, 31, 221, 265
STYLE WS_POPUP | WS_CAPTION
CAPTION "RIS Playback Utility"
FONT 8, "Helv"
{
 AUTOCHECKBOX "Just Read and validate the file", IDC_PLBCK_READ_FILE, 10, 16, 132, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 AUTOCHECKBOX "Immediate playback; Ignore any delays", IDC_PLBCK_IMM_PLAYBACK, 10, 31, 132, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 AUTOCHECKBOX "Calculate and evaluate command times", IDC_PLBCK_COMMAND_TIMES, 10, 46, 166, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 AUTOCHECKBOX "Calculate and evaluate delay times", IDC_PLBCK_DELAY_TIMES, 10, 61, 132, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 AUTOCHECKBOX "Calculate and evaluate total time", IDC_PLBCK_TOTAL_TIME, 10, 76, 132, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 AUTOCHECKBOX "Fetch blob/text files into same files as recorded session", IDC_PLBCK_BLOB, 10, 91, 200, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 AUTOCHECKBOX "Verbose mode", IDC_PLBCK_VERBOSE, 10, 106, 132, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 GROUPBOX "Options", -1, 2, 4, 215, 122, BS_GROUPBOX
 EDITTEXT IDC_PLBCK_INPUT_FILE, 9, 164, 144, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 GROUPBOX "Input Filename", -1, 5, 141, 210, 52, BS_GROUPBOX
 PUSHBUTTON "&Browse...", IDC_PLBCK_BROWSE, 159, 162, 50, 14
 LTEXT "Output Filename", -1, 6, 208, 60, 8, NOT WS_GROUP
 EDITTEXT IDC_PLBCK_OUTPUT_FILE, 66, 206, 105, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
}


RISplbckActions DIALOG 5, 18, 262, 243
STYLE WS_POPUP | WS_CAPTION
CAPTION "Actions"
FONT 8, "Helv"
{
 AUTORADIOBUTTON "Continue", IDC_PLBCK_SSC, 127, 31, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Stop", IDC_PLBCK_SSS, 176, 31, 34, 12
 AUTORADIOBUTTON "Retry", IDC_PLBCK_SSR, 216, 31, 32, 12

 AUTORADIOBUTTON "Continue", IDC_PLBCK_SDC, 127, 51, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Stop", IDC_PLBCK_SDS, 176, 51, 34, 12
 AUTORADIOBUTTON "Retry", IDC_PLBCK_SDR, 216, 51, 32, 12

 AUTORADIOBUTTON "Continue", IDC_PLBCK_SEC, 127, 73, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Stop", IDC_PLBCK_SES, 176, 73, 34, 12
 AUTORADIOBUTTON "Retry", IDC_PLBCK_SER, 216, 73, 32, 12

 AUTORADIOBUTTON "Continue", IDC_PLBCK_DSC, 127, 93, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Stop", IDC_PLBCK_DSS, 176, 93, 34, 12
 AUTORADIOBUTTON "Retry", IDC_PLBCK_DSR, 216, 93, 32, 12

 AUTORADIOBUTTON "Continue", IDC_PLBCK_DDC, 127, 116, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Stop", IDC_PLBCK_DDS, 176, 116, 34, 12
 AUTORADIOBUTTON "Retry", IDC_PLBCK_DDR, 216, 116, 32, 12

 AUTORADIOBUTTON "Continue", IDC_PLBCK_DEC, 127, 137, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Stop", IDC_PLBCK_DES, 176, 137, 34, 12
 AUTORADIOBUTTON "Retry", IDC_PLBCK_DER, 216, 137, 32, 12

 AUTORADIOBUTTON "Continue", IDC_PLBCK_ESC, 127, 159, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Stop", IDC_PLBCK_ESS, 176, 159, 34, 12
 AUTORADIOBUTTON "Retry", IDC_PLBCK_ESR, 216, 159, 32, 12

 AUTORADIOBUTTON "Continue", IDC_PLBCK_EDC, 127, 177, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Stop", IDC_PLBCK_EDS, 176, 177, 34, 12
 AUTORADIOBUTTON "Retry", IDC_PLBCK_EDR, 216, 177, 32, 12

 AUTORADIOBUTTON "Continue", IDC_PLBCK_EEC, 127, 198, 44, 12, BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP
 AUTORADIOBUTTON "Stop", IDC_PLBCK_EES, 176, 198, 34, 12
 AUTORADIOBUTTON "Retry", IDC_PLBCK_EER, 216, 198, 32, 12

 LTEXT "Record Status\tPlayback Status", -1, 17, 19, 113, 8
 LTEXT "SUCCESS\tSUCCESS", -1, 17, 32, 101, 10, NOT WS_GROUP
 LTEXT "SUCCESS\tEND OF DATA", -1, 17, 52, 104, 10, NOT WS_GROUP
 LTEXT "SUCCESS\tERROR", -1, 17, 74, 97, 10, NOT WS_GROUP
 LTEXT "END OF DATA\tSUCCESS", -1, 17, 94, 93, 10, NOT WS_GROUP
 LTEXT "END OF DATA\tEND OF DATA", -1, 17, 117, 105, 10, NOT WS_GROUP
 LTEXT "END OF DATA\tERROR", -1, 17, 137, 98, 10, NOT WS_GROUP
 LTEXT "ERROR\t\tSUCCESS", -1, 17, 160, 98, 10, NOT WS_GROUP
 LTEXT "ERROR\t\tEND OF DATA", -1, 17, 178, 105, 10, NOT WS_GROUP
 LTEXT "ERROR\t\tERROR", -1, 17, 199, 95, 10, NOT WS_GROUP
}
