/* Do not alter this SPC information: $Revision: 1.2.4.1 $ */
/********************************************************************
Name:		risdll.rc
Authors:       Rick Kramer
Creation Date: 03/28/95
Description:   Resource file for Commom Resources

Revision History:

********************************************************************/
#include <windows.h>
#include <winver.h>
#include "risver.h"
#include "resource.h"

/********************************************************
Icons
********************************************************/
RISgui ICON risgui.ico

RISprodsup BITMAP prodsup.bmp

/********************************************************
Menus
********************************************************/
RISutils MENU
BEGIN
        MENUITEM "&Dcode",                       IDM_UTIL_DCODE
        MENUITEM "&Clean Server",                IDM_UTIL_CLNSR
        MENUITEM "Data &Types",                  IDM_UTIL_DTYPE
        MENUITEM SEPARATOR
        MENUITEM "&Record",                      IDM_UTIL_RECRD
        MENUITEM "&Playback",                    IDM_UTIL_PLBCK
        MENUITEM SEPARATOR
        MENUITEM "&Unloader",                    IDM_UTIL_UNLOD
        MENUITEM "&Loader",                      IDM_UTIL_LOD
        MENUITEM SEPARATOR
        MENUITEM "&Batch",                       IDM_UTIL_BATCH
        MENUITEM SEPARATOR
        MENUITEM "&Interactive Utility",        IDM_UTIL_GUI
        MENUITEM "&Schema Manager"               IDM_UTIL_MGR
END

RIShelp MENU
BEGIN
        MENUITEM "Utility Help...",         IDM_HELP_PROGRAM
        MENUITEM "Contents...",                 IDM_HELP_CONTENTS
        MENUITEM "Search for Help On...",  IDM_HELP_SEARCH
        MENUITEM "How to Use Help...",          IDM_HELP_USE
        MENUITEM SEPARATOR
        MENUITEM "Product Support...",          IDM_HELP_PRODUCT_SUPPORT
        MENUITEM SEPARATOR
        MENUITEM "&About...",          IDM_HELP_ABOUT
END

RISdebug MENU
BEGIN
        MENUITEM "&RIS Debug...",	         IDM_RIS_DEBUG
        MENUITEM "&GUI Debug Control Panel...",  IDM_GUI_DEBUG
END


/********************************************************
Include Dialogs
********************************************************/
RCINCLUDE debug.DLG
RCINCLUDE about.DLG
RCINCLUDE risdbg.DLG
RCINCLUDE prodsup.DLG
RCINCLUDE dialog.DLG

/********************************************************
Accelerators
********************************************************/

/********************************************************
String Table
********************************************************/
STRINGTABLE DISCARDABLE	// Menu Items
BEGIN
	IDS_UTILITIES			"&Utilities"
	IDS_HELP			"&Help"
	IDS_DEBUG			"&Debug"
END

// Global Menu Strings
STRINGTABLE DISCARDABLE	// Menu help
BEGIN
	IDM_FILE			"Choice to exit the application"
	IDM_FILE_EXIT			"Exit this application"
	IDM_EDIT_CUT			"Cut to clipboard"
	IDM_EDIT_COPY			"Copy to clipboard"
	IDM_EDIT_PASTE			"Paste from clipboard"
	IDM_UTIL    			"RIS Utilties"
	IDM_UTIL_DCODE			"Execute RIS Dcode Utility"
	IDM_UTIL_CLNSR			"Execute RIS Clean Server Utility"
	IDM_UTIL_DTYPE			"Execute RIS Data Types Utility"
	IDM_UTIL_RECRD			"Execute RIS Record Utility"
	IDM_UTIL_PLBCK			"Execute RIS Playback Utility"
	IDM_UTIL_UNLOD			"Execute RIS Unloader Utility"
	IDM_UTIL_LOD			"Execute RIS Loader Utility"
	IDM_UTIL_BATCH			"Execute RIS Batch Utility"
	IDM_UTIL_GUI			"Execute RIS Interactive Utility"
	IDM_UTIL_MGR			"Execute RIS Schema Manager Utility"

	IDM_HELP			"Help choices"
	IDM_HELP_PROGRAM		"Help on this specific program"
	IDM_HELP_CONTENTS		"Open the Help table of contents"
	IDM_HELP_SEARCH			"help search"
	IDM_HELP_USE			"help use"
	IDM_HELP_PRODUCT_SUPPORT	"product support"
	IDM_HELP_ABOUT			"Product version information"
	IDM_DEBUG  	  		"Debug Dialogs"
	IDM_RIS_DEBUG    		"RIS Debug Dialog"
	IDM_GUI_DEBUG			"GUI Debug Control Panel"
    61440                   "Change window size"
    61456                   "Change window position"
    61472                   "Reduce window to icon"
    61488                   "Enlage window to full size"
    61504                   "[Switch to next window]"
    61520                   "[Switch to previous window]"
    61536                   "Close window and quit application"
    61552                   "[Scroll window vertically]"
    61568                   "[Scroll window horizontally]"
    61584                   "[Mouse was used to select menu item]"
    61696                   "[Keyboard was used to select menu item]"
    61712                   "[Arrange window]"
    61728                   "Restore window to normal size"
    61744                   "Activate Task List"
END

STRINGTABLE DISCARDABLE	// General
BEGIN
	IDS_READY			"Ready..."
	IDS_ACCEL_FAIL			"LoadAccelerators() failed"
	IDS_SBAR_FAIL			"_InitStatusBar() failed"
	IDS_HELP_FAIL			"Unable to activate help"
	IDS_ERROR			"Error"
	IDS_UTIL_ERROR			"%s failed to run; Error: %d"
	IDS_WINERROR			"Error: %ld %#x, %s"
END


//STRINGTABLE DISCARDABLE	// RIS Debug
//BEGIN
//END

//STRINGTABLE DISCARDABLE	// GUI Debug
//BEGIN
//END

STRINGTABLE DISCARDABLE	// About
BEGIN
	IDS_ABOUT		"About %s"
END




STRINGTABLE DISCARDABLE	// product support
BEGIN
   IDS_PRODSUP_TEXT,	"!Support HelpDesk 1-800-633-7248 Have RIS error number available.\r\n\r\n"
   IDS_PRODSUP_TEXT+1,	"!FaxLink Information 1-800-240-4300 Get just the 'list' of document numbers sent to your FAX.\r\n\r\n"
   IDS_PRODSUP_TEXT+2,	"!FaxLink Documents 1-205-730-9000 Get the documents from the 'list' sent to your FAX.\r\n\r\n"
   IDS_PRODSUP_TEXT+3,	"!Quick Order Desk (U.S. only) 1-800-543-1054 Process orders via voice.\r\n\r\n");
   IDS_PRODSUP_TEXT+4,	"!Quick Order Fax (U.S. only) 1-800-548-3318 Process orders via FAX.\r\n\r\n");
   IDS_PRODSUP_TEXT+5,	"!Training Registration 1-205-730-6700\r\n\r\n");
   IDS_PRODSUP_TEXT+6,	"!Telemarketing/Registration 1-800-345-4856\r\n\r\n");
   IDS_PRODSUP_TEXT+7,	"!Intergraph BBS 1-205-730-8786 Get software fixes via modem.\r\n\r\n");
   IDS_PRODSUP_TEXT+8,	"!World Wide Web http://www.ingr.com Review many articles, including support information.\r\n\r\n");
   IDS_PRODSUP_TEXT+9,	"Review 'Troubleshooting' in the RIS SQL Reference Manual"
END

/********************************************************
dcode String Table
********************************************************/
STRINGTABLE DISCARDABLE
BEGIN
	IDS_DCODE_DESC			"RIS DCODE Utility"
END

/********************************************************
clnsr String Table
********************************************************/
STRINGTABLE DISCARDABLE
BEGIN
	IDS_CLNSR_DESC			"RIS Clean Server Utility"
	IDS_CLNSR_S1			"Schema2"
	IDS_CLNSR_S2			"Schema4"
	IDS_CLNSR_S3			"Rickey5"
	IDS_CLNSR_S4			"Rick3"
	IDS_CLNSR_S5			"Schema1"
	IDS_CLNSR_S6			"Cindy"
	IDS_CLNSR_S7			"Cindyy"
	IDS_CLNSR_S8			"Cindee"
	IDS_CLNSR_S9			"Kramer"
	IDS_CLNSR_LB_FAIL		"Get Selections Failure."
	IDS_CLNSR_LB_FAIL1		"FillSelectDlg: Get Source string failure."

	IDC_CLNSR_SCHEMAS+100		"Schemas to be cleaned"
	IDC_CLNSR_CLEAN+100			"Clean schemas selected"
	IDC_CLNSR_RESTART+100		"Refresh schema list"
END

/********************************************************
dtype String Table
********************************************************/
STRINGTABLE DISCARDABLE
BEGIN
	IDS_DTYPE_DESC			"RIS Data Type Utility"
END

/********************************************************
mgr String Table
********************************************************/
STRINGTABLE DISCARDABLE
BEGIN
	IDS_MGR_DESC			"RIS Schema Manager Utility"
END


/********************************************************
recrd String Table
********************************************************/
STRINGTABLE DISCARDABLE	// recrd
BEGIN
	IDS_RECRD_DESC			"RIS Record Utility"
END

/********************************************************
plbck String Table
********************************************************/
STRINGTABLE DISCARDABLE
BEGIN
	IDS_PLBCK_DESC			"RIS Playback Utility"
END

/********************************************************
unlod String Table
********************************************************/
STRINGTABLE DISCARDABLE
BEGIN
	IDS_UNLOD_DESC			"RIS UnLoader Utility"
END

/********************************************************
lod String Table
********************************************************/
STRINGTABLE DISCARDABLE
BEGIN
	IDS_LOD_DESC			"RIS Loader Utility"
END

/********************************************************
gui String Table
********************************************************/
STRINGTABLE DISCARDABLE
BEGIN
	IDS_GUI_DESC			"RIS Interactive Utility"
END

/********************************************************
batch String Table
********************************************************/
STRINGTABLE DISCARDABLE
BEGIN
	IDS_BATCH_DESC			"RIS Batch Utility"
	IDM_BATCH_FILE_OPEN		"Open a command file"
	IDM_BATCH_FILE_SAVE		"Save the command file"
	IDM_BATCH_FILE_SAVERESULTS	"Save results to a file"

	IDM_BATCH_SHOWCLILOC		"Show Client Location"
	IDM_BATCH_STARTCLI		"Start Client"
	IDM_BATCH_STOPCLI		"Stop Client" 
	IDM_BATCH_SHOWDEFSCH		"Show Default Schema"
	IDM_BATCH_SHOWSCHLOC		"Show Schema Location"
	IDM_BATCH_SHOWSCHNAMES		"Show Schema Names"
	IDM_BATCH_SHOWSCHTRANS		"Show Schema Transactions"
	IDM_BATCH_CHECKSUM		"Checksum Schema File"
	IDM_BATCH_SHOWSUPERDEF	      	"Show Superschema Definition"
	IDM_BATCH_SHOWSUPERNAMES	"Show Superschema Names"
	IDM_BATCH_SHOWFLAGS		"Show Flags"
	IDM_BATCH_SHOWPARMS		"Show Parameters"
	IDM_BATCH_IGNOREERRORS		"Ignore Errors"
	IDM_BATCH_PROCESSERRORS		"Process Errors"
	IDM_BATCH_QUIT			"Quit"
END




/********************************************************
DLL version Information
********************************************************/
/*
** VERSIONINFO DEFINITION BLOCK
*/
VS_VERSION_INFO VERSIONINFO
FILEVERSION		RIS_VERSION
PRODUCTVERSION	RIS_VERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VS_FF_PRERELEASE
FILEOS          VOS_NT
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"	
		BEGIN
			VALUE "InternalName",    "RISdll.dll\0"
			VALUE "FileDescription", "RIS Utility Resources\0"
			VALUE "FileVersion",     RIS_VERSION_STR
			VALUE "ProductName",     "RISUTL\0"
			VALUE "ProductVersion",  RIS_VERSION_STR
			VALUE "CompanyName",     RIS_CO
			VALUE "LegalCopyright",  RIS_CR
			VALUE "LegalTrademarks", RIS_TM
    	END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END


