//Microsoft Developer Studio generated resource script.
//
// Revision History :
//  6/18/96 - Ashley -  under NT 4.0 Beta 2 the application locks up when the 
//			radio buttons are manipulated.  Do not use the following
//                      type of declaration when defining radio buttons:
// 			CONTROL         "Informix",RADIO_INFORMIX,"Button",BS_AUTORADIOBUTTON,43,
//                    			107,39,10,WS_TABSTOP

#include "windows.h"
#include "ctl3d.h"
#include "rliclist.h"
#include "winver.h"
#include "risver.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources


#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
ADELL                   ICON    DISCARDABLE     "rliclist.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

CTL3D_3DCHECK           BITMAP  MOVEABLE PURE   "3dcheck.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

STATUSDLG DIALOG DISCARDABLE  6, 22, 354, 221
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER
FONT 8, "Helv"
BEGIN
    PUSHBUTTON      "Refresh",REFRESH_BUTTON,128,196,40,14
    PUSHBUTTON      "Peak Usage",PEAK_BUTTON,181,196,50,14
    PUSHBUTTON      "Help",HELP_BUTTON,241,196,40,14
    PUSHBUTTON      "Exit",EXIT_BUTTON,296,196,40,14
    GROUPBOX        "Vendor Database Type",101,23,85,89,111
    AUTORADIOBUTTON "Informix",RADIO_INFORMIX,43,107,39,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Sybase",RADIO_SYBASE,43,122,39,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Ingres",RADIO_INGRES,43,136,39,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "Oracle",RADIO_ORACLE,43,149,39,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "DB2",RADIO_DB2,43,164,39,10,BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "MSSQL",RADIO_MSSQL,43,178,39,10,BS_AUTORADIOBUTTON
    LISTBOX         DIALOG_BOX,127,90,209,106,LBS_USETABSTOPS | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "RIS SERVER HOST",182,37,12,81,13
    LTEXT           "             ",SERVER_HOST_NAME,160,9,78,12
    CONTROL         "",300,"Static",SS_BLACKFRAME,155,7,84,12
    LTEXT           "RIS SERVER  TYPE",114,37,35,68,8
    LTEXT           "              ",SERVER_HOST_TYPE,160,29,78,12
    CONTROL         "",PEAK_EXIT,"Static",SS_BLACKFRAME,155,27,84,15
    LTEXT           "Server Number         Net Address                    Process ID",
                    115,129,75,202,8
    CONTROL         "",318,"Static",SS_BLACKFRAME,127,73,209,12
    LTEXT           "User License",116,37,54,76,8
    LTEXT           "              ",LICENSE_USERS,160,50,42,12
    CONTROL         "",118,"Static",SS_BLACKFRAME,155,48,48,15
END

PEAK_DIALOG DIALOG DISCARDABLE  117, 84, 224, 149
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "RIS Data Server Peak Usage"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Exit",PEAK_EXIT,21,129,40,14
    PUSHBUTTON      "Clear Log",PEAK_CLEAR,93,129,40,14
    PUSHBUTTON      "Save As",PEAK_SAVE,163,128,40,14
    LTEXT           "Peak Users as of",PEAK_TEXT,25,13,68,8
    CONTROL         "",RADIO_MSSQL,"Static",SS_BLACKFRAME,85,9,120,17
    LTEXT           "                                           ",PEAK_TIME,
                    90,13,112,10
    LISTBOX         PEAK_LIST_BOX,19,60,187,64,LBS_USETABSTOPS | WS_VSCROLL | 
                    WS_TABSTOP
    CONTROL         "",EXIT_BUTTON,"Static",SS_BLACKFRAME,19,39,181,16
    LTEXT           "  Number                Net Address",300,46,43,131,10
END


#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION	RIS_VERSION
 PRODUCTVERSION	RIS_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x40000L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "InternalName", "rliclist.exe\0"
            VALUE "FileDescription", "RIS Licensing Utility executable\0"
            VALUE "FileVersion", RIS_VERSION_STR
            VALUE "ProductName", "RISUTL\0"
            VALUE "ProductVersion", RIS_VERSION_STR
            VALUE "CompanyName", RIS_CO
            VALUE "LegalCopyright", RIS_CR
            VALUE "LegalTrademarks", RIS_TM
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END

#endif    // !_MAC



